.ranking-page {
  background-color: var(--bg-color);
}

.container div:has(.ranking-filt) {
  width: 100%;
}

.ranking-filt {
  margin-bottom: 1rem;
}

.ranking-filt ul {
  display: flex;
  flex-wrap: wrap;
}

.ranking-filt ul li {
  flex-basis: 33.33%;
  padding: 0 0.5rem 0.5rem 0;
}
.ranking-filt ul li.active a {
  background-color: var(--bg-color-secondary);
  color: var(--anchor-color);
  border-color: var(--bg-color-secondary-3);
}

.ranking-filt ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-3);
  color: var(--text-color-2);
  border-radius: 10px;
  font-size: 0.925rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  padding: 0.5rem 0.1rem;
  border: solid var(--border-color-6);
  border-width: 1px 1px 3px 1px;
}

.ranking-info > h1 {
  color: var(--text-color);
  margin-block: 0;
  font-size: 24px;
  margin-bottom: 0.5rem;
}

.ranking-info > p {
  margin-block: 0;
  color: var(--text-color);
}

.ranking-body {
  width: 100%;
  margin: 1rem 0 1rem;
}

.ranking-body .novel-stats {
  display: flex;
  flex-direction: column;
  z-index: 10;
  color: var(--text-color);
  padding: 13px;
}

.status-group {
  display: flex;
}
.status-group + h2 {
  margin-block: 0;
}

.ranking-body .novel-item {
  position: relative;
  width: 100%;
  height: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 13px;
  z-index: 1;
  color: var(--text-color);
}

.ranking-body li > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: block;
  border-radius: 6px;
  background-color: #000;
  z-index: -1;
}
.ranking-body figure {
  z-index: -1;
}

.ranking-body figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  mask-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(10%, rgba(0, 0, 0, 0)),
    color-stop(60%, rgba(0, 0, 0, 0.4)),
    to(black)
  );
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.4) 60%,
    black 100%
  );
  -webkit-mask-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0.4) 60%,
    black 100%
  );
  border-radius: 6px;
  z-index: -1;
}

.ranking-page .categories > div {
  display: flex;
}

a > figure.cover {
  width: 100%;
  height: 100%;
}

.rank-counter {
  counter-increment: ranking-counter;
}
.rank-counter::before {
  content: counter(ranking-counter, decimal-leading-zero);
  background-color: rgba(217, 148, 78, 0.5019607843);
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  line-height: 1.7;
  font-weight: 700;
  padding: 0 0.3rem;
  border-radius: 3px;
}

.novel-stats .status-group .status {
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.825rem;
  line-height: 1.2;
  padding: 0.1rem 0.3rem;
  margin-left: 0.4rem;
  background-color: var(--bg-color-secondary-3);
  border-radius: 3px;
  text-align: center;
}

h2.title {
  margin-top: 0.3rem;
  margin-bottom: 0.7rem;
}

.novel-item .novel-stats > h2.title > a {
  color: var(--text-color);
}

.categories span {
  display: inline-block;
  margin-right: 0.2rem;
  background-color: rgba(150, 150, 150, 0.5);
  color: #d1d1d1;
  border-radius: 4px;
  font-size: 0.825rem;
  line-height: 1.5;
  padding: 0 0.4rem;
}
.ranking-page .categories {
  overflow-x: hidden;
  pointer-events: auto;
  position: relative;
  display: flex;
  align-items: center;
  margin-right: -10px;
  margin-left: -10px;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.ranking-page .categories div.scroll {
  scroll-behavior: smooth;
  scrollbar-width: none;
  flex: 1 1 auto;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.scroll-arrow {
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px;
}

@media screen and (min-width: 768px) {
  .ranking-page .container {
    padding: 26px;
    background-color: var(--bg-color-2);
  }

  .rank-novels {
    display: flex;
    flex-wrap: wrap;
  }

  .ranking-body .rank-novels .novel-item:not(:last-child) {
    width: calc(33.33333% - 13px);
    height: 300px;
    margin-right: 13px;
  }

  .ranking-filt > ul {
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1024px) {
  .container .ranking-body .rank-novels .novel-item {
    width: calc(25% - 13px);
    height: 300px;
  }
}
