:root {
  --bg-nav-header: var(--bg-color);
  --bg-color-main: #161d31;
  --bg-color: #161d31;
  --bg-color-2: #1f2639;
  --bg-color-3: #242b3d;
  --bg-color-4: #292f41;
  --bg-color-5: #2d3446;
  --bg-color-6: var(--bg-color);
  --bg-color-7: var(--bg-color-3);
  --bg-color-comremp0: #1b2235;
  --bg-color-comremp1: #1e2538;
  --border-color: var(--bg-color-2);
  --border-color-2: var(--bg-color-3);
  --border-color-3: var(--bg-color-4);
  --border-color-4: var(--bg-color-5);
  --border-color-5: #a2a5ad;
  --border-color-6: #5c616f;
  --text-color: #adb0b7;
  --text-color-2: #737783;
  --text-color-3: #5c616f;
  --text-color-4: #393f50;
  --text-color-lighter: rgba(255, 255, 255, 0.1);
  --star-color-on: #995e2b;
  --fade: rgba(31, 38, 57, 0.5);
  --glass-opa: 0.7;
  --bg-color-glass: #161d31;
  --shadow-color: rgba(0, 0, 0, 0.85);
  --button-shadow: rgba(0, 0, 0, 0.2) 0 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0 2px 2px 0, rgba(0, 0, 0, 0.12) 0 1px 5px 0;
  --global-shadow: 0px 2px 6px -3px rgba(0, 0, 0, 0.4);
  --bg-color-secondary: rgba(71, 105, 221, 0.1);
  --bg-color-secondary-2: #3c59bc;
  --bg-color-secondary-3: rgba(71, 105, 221, 0.35);
  --bg-color-secondary-4: #2b3f85;
  --text-color-secondary: #6380e2;
  --text-color-secondary-2: #c8d2f5;
  --anchor-color: #5071df;
  --button-bg: #3c59bc;
  --button-secondary: #405fc7;
  --button-secondary-border: #3954b1;
  --avatar-lvl-1: rgba(71, 105, 221, 0.1);
  --avatar-lvl-2: rgba(71, 105, 221, 0.3);
  --avatar-lvl-3: rgba(71, 105, 221, 0.5);
  --avatar-lvl-4: rgba(71, 105, 221, 0.7);
  --avatar-lvl-5: rgba(71, 105, 221, 0.9);
  --avatar-lvl-6: #5978e0;
  --avatar-lvl-7: #6c87e4;
  --avatar-lvl-8: #7e96e7;
  --avatar-lvl-99: #bc4646;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito Sans", "SF Pro Text", "SF Pro Icons", Roboto,
    "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.app {
  background-color: var(--bg-color-main);
}

main .container {
  background-color: #161d31;
  display: flex;
  flex-direction: column;
  padding-left: 13px;
  padding-right: 13px;
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
}

.saved-novels {
  padding-inline: 1rem;
}

.intro-library {
  padding-inline: 1rem;
}

.novel-coverfig img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 4px;
  color: transparent;
}
.novel-coverfig {
  display: block;
  font-size: 0;
  background-color: rgba(215, 216, 224, 0.32);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
  padding-top: 134%;
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  margin-bottom: 0.425rem;
}

@media screen and (min-width: 768px) {
  .app main .container {
    width: 728px;
  }
  .saved-novels {
    padding: 0 2rem;
  }
  .intro-library {
    padding-inline: 2rem;
  }
}

@media (min-width: 1024px) {
  .app main .container {
    width: 970px;
  }
}

.sidebar-wrapper {
  width: 100%;
  font-size: 0;
  overflow: hidden;
  visibility: hidden;
  position: fixed;
  top: 91px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 0.2s ease-in;
  -moz-transition: opacity 0.2s ease-in;
  -khtml-transition: opacity 0.2s ease-in;
  -o-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;
  opacity: 0;
}

figure {
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.4;
}

a,
button,
label {
  cursor: pointer;
  outline: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}

h5 {
  margin: 0;
}
a {
  color: var(--anchor-color);
}
